<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a href="http://www.gonzalogallardo.com" target="_blank">Gonzalo Gallardo</a> following the instructions in The Firehose Project, and in close consultation with Caper the puppy.
  </p>

  <p>
    Gonzalo will be using his sweet new coding skills to bring the joy of language and music to people all over the world.
  </p>

  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'peppe2.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Gonzalo Gallardo</h2>
    <br />
    <p>
      Gonzalo Gallardo is an educator and musician, presently considering how to change the course of language and music education.
    </p>
  </div>
  <br class="clear" />

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'peppe6.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Peppe Caperino</h2><br>
    <p>
      Caper was born in Georgia. He loves fruits and veggies, as well as playing fetch. He'd love to have his own Boo-style blog someday.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />